<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ClickCart</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Metropolis-Regular.ttf</string>
		<string>main.ttf</string>
		<string>Metropolis-BlackItalic.ttf</string>
		<string>Metropolis-BoldItalic.ttf</string>
		<string>Metropolis-ExtraBold.ttf</string>
		<string>Metropolis-ExtraBoldItalic.ttf</string>
		<string>Metropolis-ExtraLight.ttf</string>
		<string>Metropolis-ExtraLightItalic.ttf</string>
		<string>Metropolis-Light.ttf</string>
		<string>Metropolis-MediumItalic.ttf</string>
		<string>Metropolis-RegularItalic.ttf</string>
		<string>Metropolis-SemiBold.ttf</string>
		<string>Metropolis-SemiBoldItalic.ttf</string>
		<string>Metropolis-Thin.ttf</string>
		<string>FenomenSans-Black.ttf</string>
		<string>FenomenSans-BlackItalic.ttf</string>
		<string>FenomenSans-Bold.ttf</string>
		<string>FenomenSans-BoldItalic.ttf</string>
		<string>FenomenSans-Book.ttf</string>
		<string>FenomenSans-BookItalic.ttf</string>
		<string>FenomenSans-CNBlack.ttf</string>
		<string>FenomenSans-CNBlackItalic.ttf</string>
		<string>FenomenSans-CNBold.ttf</string>
		<string>FenomenSans-CNBoldItalic.ttf</string>
		<string>FenomenSans-CNBook.ttf</string>
		<string>FenomenSans-CNBookItalic.ttf</string>
		<string>FenomenSans-CNHairline.ttf</string>
		<string>FenomenSans-CNHairlineItalic.ttf</string>
		<string>FenomenSans-CNItalic.ttf</string>
		<string>FenomenSans-CNLight.ttf</string>
		<string>FenomenSans-CNLightItalic.ttf</string>
		<string>FenomenSans-CNRegular.ttf</string>
		<string>FenomenSans-CNSemiBold.ttf</string>
		<string>FenomenSans-CNSemiBoldItalic.ttf</string>
		<string>FenomenSans-CNThin.ttf</string>
		<string>FenomenSans-CNThinItalic.ttf</string>
		<string>FenomenSans-Hairline.ttf</string>
		<string>FenomenSans-HairlineItalic.ttf</string>
		<string>FenomenSans-Italic.ttf</string>
		<string>FenomenSans-Light.ttf</string>
		<string>FenomenSans-LightItalic.ttf</string>
		<string>FenomenSans-Regular.ttf</string>
		<string>FenomenSans-SCNBlack.ttf</string>
		<string>FenomenSans-SCNBlackItalic.ttf</string>
		<string>FenomenSans-SCNBold.ttf</string>
		<string>FenomenSans-SCNBoldItalic.ttf</string>
		<string>FenomenSans-SCNBook.ttf</string>
		<string>FenomenSans-SCNBookItalic.ttf</string>
		<string>FenomenSans-SCNHairline.ttf</string>
		<string>FenomenSans-SCNHairlineItalic.ttf</string>
		<string>FenomenSans-SCNItalic.ttf</string>
		<string>FenomenSans-SCNLight.ttf</string>
		<string>FenomenSans-SCNLightItalic.ttf</string>
		<string>FenomenSans-SCNRegular.ttf</string>
		<string>FenomenSans-SCNSemiBold.ttf</string>
		<string>FenomenSans-SCNSemiBoldItalic.ttf</string>
		<string>FenomenSans-SCNThin.ttf</string>
		<string>FenomenSans-SCNThinItalic.ttf</string>
		<string>FenomenSans-SemiBold.ttf</string>
		<string>FenomenSans-SemiBoldItalic.ttf</string>
		<string>FenomenSans-Thin.ttf</string>
		<string>FenomenSans-ThinItalic.ttf</string>
		<string>FenomenSans-XCNBlack.ttf</string>
		<string>FenomenSans-XCNBlackItalic.ttf</string>
		<string>FenomenSans-XCNBold.ttf</string>
		<string>FenomenSans-XCNBoldItalic.ttf</string>
		<string>FenomenSans-XCNBook.ttf</string>
		<string>FenomenSans-XCNBookItalic.ttf</string>
		<string>FenomenSans-XCNHairline.ttf</string>
		<string>FenomenSans-XCNHairlineItalic.ttf</string>
		<string>FenomenSans-XCNItalic.ttf</string>
		<string>FenomenSans-XCNLightItalic.ttf</string>
		<string>FenomenSans-XCNRegular.ttf</string>
		<string>nourd_bold.ttf</string>
		<string>nourd_heavy.ttf</string>
		<string>nourd_light.ttf</string>
		<string>nourd_medium.ttf</string>
		<string>nourd_regular.ttf</string>
		<string>nourd_semi_bold.ttf</string>
	</array>
</dict>
</plist>
